.banner {
    margin-top: 10px;
    padding: 100px 0 10px 0;
  }
  
  .banner a {
    color: #051937;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }

  .image {
    width: 30%;
    height: 30%;
    border-radius: 25px;
  }

  .banner a svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
    rotate: 90deg;
  }
  .banner a:hover svg {
    margin-top: 25px;
  }

  .right-banner p {
    color: #051937;
    font-size: 20px;
  }

 .carousel-Item {
    opacity: 1;
    border-radius: 10px;
  }