@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*::-webkit-scrollbar{
    display: none;
}

body {
    background: linear-gradient(70deg,#93A5CF 20%, #E4EfE9 70%);
    font-family: 'Poppins', sans-serif;
}